*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background: #ffd4f1;
    color: #000000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button{
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    background: #ff53a0;
    color: #fff;
    border-radius: 4px;
}
button:hover{
    opacity: 0.7;
}

main{
    padding: 20px;
}
table{
    width: 100%;
    background: #fff;
    border-collapse: collapse;
}
th, td{
    padding: 10px;
    border: 1px solid #fff;
    text-align: center;
}
th{
    background: #ff53a0;
    color: #000000;
}
.modal{
    display: none;
    position: fixed;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.modal-content{
    background: #fff;
    width: 300px;
    padding: 20px;
    margin: 100px auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.modal-buttons{
    display: flex;
    justify-content: space-between;
}